html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
       "header"
       "contents"
       "footer"
    ;
}

.fa-check {
   border-radius: 50%;
   background-color: #2b4386;
   color: white;
   font-size: 20px;
   padding: 5px;
}

a {
    text-decoration: none;
    color:#2b4386;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a:hover {
    color:#293d74;
}

.content-headline {
    font-size: 30px;
}

.content-headline, .content-body {
    margin: 20px 10px;
}

.btn {
    outline: none;
    border: none;
    padding: 10px 20px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.btn:hover {
    opacity: 0.8;
}

.content-segment {
    padding: 80px 0;
}

.custom-table {
    border-collapse:collapse;
    border-bottom: 5px solid #293d74;
}

.full {
    width: 100%;
}

.two-third {
    width: 70%;
}

.one-third {
    width: 35%;
}

.custom-table thead{
    background-color: #293d74;
    color: white;
    padding: 20px 10px;
}

.custom-table tr {
    border-collapse: collapse;
}

.custom-table tbody tr td:not(:first-child){
    text-align: center;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #c2ceef;
}

.custom-table thead th{
    border: 1px solid gray;
    padding: 20px 10px;
}

.custom-table tbody tr td{
    padding: 20px 10px;
    font-weight: 600;
}

.center {
    text-align: center;
}

/* HEADER */

.header {
    grid-area: header;
    height: 10vh;
    background-color: #2b4386;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-areas:
       "logo menu"
    ;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo img {
    height: 150%;
    cursor: pointer;
}

.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu a {
    padding: 0 20px;
    color: whitesmoke;
}

.menu a:hover {
    color: rgb(224, 223, 223);
}

/* CONTENTS  */

.contents {
    grid-area: contents;
    min-height: 75vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
       "product"
       "pricing"
       "contact-form"
    ;
}

.product {
    grid-area: product;
    background-color: #2b4386;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-areas:
       "features demo"
    ;
}

.features {
    grid-area: features;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
       "content-headline"
       "content-body"
    ;
}

.features .content-headline{
    grid-area: content-headline;
    color: #90aaf5;
    /* color: #15ff59; */
    padding: 0 30px;
}

.features .content-body{
    grid-area: content-body;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 10px;
    padding: 0 30px;
}

.bullets {
    padding: 10px 15px;
    background:#adbfd1;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

.demo {
    grid-area: demo;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cornflowerblue; */
    background-image: url('../../Asset/images/portfolio.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.pricing {
    grid-area: pricing;
    background-color: #cedbff;
}

.pricing .content-body {
    display: flex;
    justify-content: center;
}



.contact-form {
    grid-area: contact-form;
    background-color: #2b7186;
}

/* FOOTER  */

.footer {
    grid-area: footer;
    height: 15vh;
    background-color: #2b4386;
    color: white;
    font-size: 15px;
    padding: 50px 20px;
}

.footer p{
    align-self: center;
}